{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WQA</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <section>
        <h1 id="mainH">Welcome to Water Quality Analysis</h1>
        <div class="wave" id="wave1" style="--i:1"></div>
        <div class="wave" id="wave2" style="--i:2"></div>
        <div class="wave" id="wave3" style="--i:3"></div>
        <div class="wave" id="wave4" style="--i:4"></div>
    </section>
    <section class="sec">
        <div class="form-box">
            <div class="form-value">
                <form action="{% url 'result' %}" method="post">
                    {% csrf_token %}
                    <h2 style="--i:1">Fill the details below</h2>
                    <div class="inputbox">
                        <input type="number" name="ph">
                        <label for="">Water pH level</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Hardness">
                        <label for="">Water Hardness</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Solids">
                        <label for="">Solids</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Chloramines">
                        <label for="">Chloramines</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Sulfate">
                        <label for="">Sulfate</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Conductivity">
                        <label for="">Conductivity</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Organic_carbon">
                        <label for="">Organic Carbon</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Trihalomethanes">
                        <label for="">Trihalomethanes</label>
                    </div>
                    <div class="inputbox">
                        <input type="number" name="Turbidity">
                        <label for="">Turbidity</label>
                    </div>
                    <button>Submit</button>
                </form>
                <div class="container"></div>
            </div>
        </div>
    </section>
    <script>
        let wave1 = document.getElementById('wave1');
        let wave2 = document.getElementById('wave2');
        let wave3 = document.getElementById('wave3');
        let wave4 = document.getElementById('wave4');
        let mainH = document.getElementById('mainH');

        window.addEventListener('scroll', function () {
            let value = window.scrollY;
            wave1.style.backgroundPositionX = 400 + value * 4 + 'px';
            wave2.style.backgroundPositionX = 300 + value * - 4 + 'px';
            wave3.style.backgroundPositionX = 200 + value * 2 + 'px';
            wave4.style.backgroundPositionX = 100 + value * -2 + 'px';
        })
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>